h1 {
	text-align: center;
	color:#999;
}

ul li {
	font-size: 1.35em;
	margin-top: 1em;
	margin-bottom: 1em;
}

ul li.small {
	font-style: italic;
}

footer {
	margin-top:25px;
	border-top:1px solid #eee;
	padding-top:25px;
}

i[data-id] {
	cursor: pointer;
	color: #eee;
}

i[data-id]:hover {
	color: #c75a6d;
}

.push-down {
	margin-top: 25px;
}

#save-button {
	margin-left: 10px;
}